$fancyFont: 'Roboto Slab', Roboto, Avenir, Helvetica, sans-serif;
$matsimBlue: #4b7cc4;
$tuRed: #b40d1e;
$steelGray: #2a3c4f;
$themeColor: $matsimBlue;
$themeColorPale: #3264afcc;
$themeColorPaler: #b9c9df;
$colorBoldBackground: $steelGray;
$colorPurple: #7957d5;
$paleBackground: #dbd9d7;
$darkBackground: #181518;

$navHeight: 3.25rem;
$bannerHighlight: #1d3355;
$sizeMobile: 30em;
/// $themeColor: #3498db;
