$fancyFont: 'Roboto Slab', Roboto, Avenir, Helvetica, sans-serif;
$matsimBlue: #4b7cc4;
$tuRed: #b40d1e;
$steelGray: #2a3c4f;
$themeColor: $matsimBlue;
$themeColorPale: #3264afcc;
$themeColorPaler: #b9c9df;
$colorBoldBackground: $steelGray;
$colorPurple: #7957d5;
$paleBackground: #dbd9d7;
$darkBackground: #181a1b;

$navHeight: 3.25rem;
$bannerHighlight: #1d3355;
$sizeMobile: 30em;
$sizeVessel: 60rem;
$thumbnailHeight: 10rem;

:root {
  --bg: #edebe4;
  --bgBold: #ffffff;
  --bgCream: #edebe4;
  --bgCream2: #dddcd7;
  --bgCream3: #dddce7;
  --bgCream4: #e4e3f4;
  --bgHover: #ffd;
  --bgPanel: #fff;
  --text: #363636;
  --textBold: #1d3355;
  --textFancy: #1d3355;
  --link: #1c5179;
  --linkHover: #0b263b;
  --shadowMode: 0px 0px 6px 6px rgba(0, 0, 0, 0.12);
  --borderThin: 1px solid #cce;
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

.dark-mode {
  --bg: #2d3133;
  --bgBold: #181a1b;
  --bgCream: #2d3133;
  --bgCream2: #33373a;
  --bgCream3: #344857;
  --bgCream4: #304453;
  --bgPanel: #2a3c4f;
  --bgHover: #4d4c37;
  --text: #c6c1b9;
  --textBold: white;
  --textFancy: #a5c4e2;
  --link: #65d68f;
  --linkHover: #a8ffc8;
  --shadowMode: 0px 0px 6px 6px rgba(192, 192, 255, 0.3);
  --borderThin: 1px solid #15151d;
}
