$mainFont: 'Titillium Web', 'Roboto', 'Open Sans', Avenir, Arial, Helvetica, sans-serif; // 'Titillium Web'
$fancyFont: 'Titillium Web', 'Space Grotesk', 'Roboto Slab', Roboto, Avenir, Arial, Helvetica,
  sans-serif; // 'Titillium Web',
$matsimBlue: #4b7cc4;
$tuRed: #b40d1e;
$steelGray: #2a3c4f;
$themeColor: $matsimBlue;
$themeColorPale: #3264afcc;
$themeColorPaler: #b9c9df;
$colorBoldBackground: $steelGray;
$colorPurple: #6a1b9a;
$colorYellow: #ffdf80;
$paleBackground: #dbd9d7;
$darkBackground: #181a1b;

$navHeight: 3.25rem;
$bannerHighlight: #1d3355;
$sizeMobile: 30em;
$sizeVessel: 60rem;
$thumbnailHeight: 10rem;
$dashboardWidth: 70rem;
$filterShadow: drop-shadow(0px 2px 4px #22222233);

:root {
  --bg: #edebe4;
  --bgBold: #ffffff;
  --bgCream: #eef2ec;
  --bgCream2: #dddcd7;
  --bgCream3: #dddce7;
  --bgCream4: #e4e3f4;
  --bgDashboard: #ffffff;
  --bgHideButton: #ece9f5;
  --bgHover: #ffd;
  --bgPanel: #fff;
  --bgPanel2: #ededed;
  --bgPanel3: #e4e4e4;
  --bgMapPanel: #f2f2f2;
  --bgTag: #fdffa3;
  --bgBrowser: #37547c;
  --bgSplash: linear-gradient(150deg, #c4dbf5, #748add);
  --bgTabBanner: linear-gradient(150deg, #345be6, #29d299);
  --text: #363636;
  --textBold: #1d3355;
  --textFancy: #564c9d;
  --textPale: #777777;
  --textVeryPale: #bbbbcc;
  --link: #196096;
  --linkHover: #079f6f;
  --linkActive: #bbf1ca;
  --shadowMode: 0px 0px 6px 6px rgba(0, 0, 0, 0.12);
  --borderThin: 1px solid #cce;
  --borderDashboard: 3px solid #d4dbdd;
  --beige: #ffeead;
  --yellow: $colorYellow;
  --splitPanel: #d4dbdd;
  --borderColor: #66666633;
  --borderZoomButtons: 1px solid var(--borderColor);
  --logoOpacity: opacity(30%);
  --scaleBorder: 1px solid #7974a0;
  --scaleBg: #ffffffaa;
}

.dark-mode {
  --bg: #2d3133;
  --bgBold: #181a1b;
  --bgCream: #282c2f;
  --bgCream2: #33373a;
  --bgCream3: #344857;
  --bgCream4: #304453;
  --bgDashboard: #242627;
  --bgHideButton: #32455a;
  --bgPanel: #2a3c4f;
  --bgPanel2: #32455a;
  --bgPanel3: #2f3b49;
  --bgMapPanel: #181818;
  --bgTag: #2a3c4f;
  --bgBrowser: #37547c; // #18242e;
  --bgSplash: linear-gradient(150deg, #144e50, #23072c);
  --bgTabBanner: linear-gradient(150deg, #245858, #1d3486);
  --bgHover: #4b3c70;
  --text: #c6c1b9;
  --textBold: white;
  --textFancy: #a5c4e2;
  --textPale: #aaaaaa;
  --textVeryPale: #778;
  --link: #65d68f;
  --linkHover: #a8ffc8;
  --linkActive: #145240;
  --shadowMode: 0px 0px 6px 6px rgba(192, 192, 255, 0.3);
  --borderThin: 1px solid #447;
  --borderDashboard: 3px solid #616169;
  --splitPanel: #2e343f;
  --borderColor: #00000088;
  --borderZoomButtons: 1px solid #777;
  --logoOpacity: opacity(30%);
  --scaleBorder: 1px solid #607894; // #8fabca;
  --scaleBg: #33333360;
}
