$fancyFont: 'Roboto Slab', Roboto, Avenir, Helvetica, sans-serif;
$matsimBlue: #4b7cc4;
$tuRed: #b40d1e;
$steelGray: #3a3b3f;
$themeColor: $matsimBlue;
$themeColorPale: #3264afcc;
$colorBoldBackground: $steelGray;

$paleBackground: #eceff2;
$darkBackground: #181518;

$navHeight: 3.25rem;
$bannerHighlight: #1d3355;
$sizeMobile: 30em;
/// $themeColor: #3498db;
