$mainFont: Figtree, Roboto, Helvetica, Arial, sans-serif;
$fancyFont: FiraSans, Figtree, Roboto, Helvetica, Arial, sans-serif;
$appTag: #53b589;
$matsimBlue: #4b7cc4;
$tuRed: #b40d1e;
$steelGray: #2a3c4f;
$themeColor: $matsimBlue;
$themeColorPale: #363645; // #364673;
$themeColorPaler: #b9c9df;
$colorBoldBackground: $steelGray;
$colorPurple: #6a1b9a;
$colorYellow: #ffdf80;
$colorSimWrapperYellow: #ffe07f;
$paleBackground: #dbd9d7;
$panelTitle: #5555ccdd;
$darkBackground: #181a1b;
$navHeight: 3.25rem;
$bannerHighlight: #1d3355;
$sizeMobile: 30em;
$sizeVessel: 70rem;
$thumbnailHeight: 10rem;
$dashboardWidth: 70rem;
$filterShadow: drop-shadow(0px 3px 5px #22222266);
$yellowHighlight: #deef6f;
$cardSpacing: 1.25rem;

:root {
  --bg: #edebe4;
  --bgBold: #ffffff;
  --bgBrowser: #7c839f;
  --bgCardFrame: white;
  --bgCardFrame2: #f8f8f8;
  --bgCream: #eef2ec;
  --bgCream2: #dddcd7;
  --bgCream3: #dddce7;
  --bgCream4: #e4e3f4;
  --bgCream5: #f8f8f8;
  --bgIconBar: #575462; //  #999fa7; // #425f81; // #292730;
  --bgError: #fea;
  --bgDashboard: #e3e3e0; // #d3dae2; // #a1b5c3; // #dcecec #dbe2e8;
  --bgDashboardHeader: #3b4a72; //#373b47
  --bgHideButton: #ece9f5;
  --bgHover: #eaeaea;
  --bgHover2: #9191bd; // #9cbafb;
  --bgLayerPanel: linear-gradient(150deg, #d5dcf1, #dbf2ea);
  --bgPanel: #fff;
  --bgPanel2: #ededed;
  --bgPanel3: #e4e4e4;
  --bgMapPanel: #fff;
  --bgMapWater: #e6eaf1;
  --bgTag: #fdffa3;
  --bgSplash: #eaeaef;
  --bgSplashPage: linear-gradient(25deg, #ebe9f4, #e4ebf7, #e0f4f7);
  --bgScrollbar: #888888aa;
  --bgTabBanner: linear-gradient(150deg, #345be6, #29d299);
  --bgTreeItem: #d9f5cb;
  --gradientEthereal: linear-gradient(45deg, #ecf2ff, #f0f1fd, #e6f7fb);
  --highlightActiveSection: #65d68f;
  --text: #363636;
  --textBold: #12063a;
  --textBlack: #060606;
  --textFancy: #564c9d;
  --textPale: #777777;
  --textVeryPale: #bbbbcc;
  --textPanel: #616672; // #576874;
  --link: #196096;
  --linkHover: #079f6f;
  --linkActive: #bbf1ca;
  --iconShowHide: #dbf2ea;
  --shadowMode: 0px 0px 6px 6px rgba(0, 0, 0, 0.12);
  --borderThin: 1px solid #cce;
  --borderDashboard: 3px solid #d4dbdd;
  --borderFaint: 1px solid #cccccc;
  --borderSymbology: 1px solid #b3c0c4;
  --beige: #ffeead;
  --yellow: $colorYellow;
  --splitPanel: #d4dbdd;
  --borderColor: #66666633;
  --borderZoomButtons: 1px solid var(--borderColor);
  --scaleBorder: 1px solid #7974a0;
  --scaleBg: #ffffff;
  --sliderThumb: #29d09a;
  --yellowHighlight: #20513a;

  --opacityLogo: opacity(70%);
  --opacityAttribution: opacity(70%);
}

.dark-mode {
  --bg: #2d3133;
  --bgBold: #000414;
  --bgBrowser: #56696e; // #212029; // #18242e;
  --bgCardFrame: #14141a;
  --bgCardFrame2: #202028;
  --bgCream: #282c2f;
  --bgCream2: #33373a;
  --bgCream3: #344857;
  --bgCream4: #304453;
  --bgCream5: #344857;
  --bgDashboard: #222a35;
  --bgDashboardHeader: #304163;
  --bgError: #fea;
  --bgHideButton: #32455a;
  --bgHover: #433b53;
  --bgHover2: #34618b;
  // --bgIconBar: #344f6c;
  --bgLayerPanel: linear-gradient(150deg, #3d3753, #183d36);
  --bgMapPanel: #181818;
  --bgMapWater: #1e3048;
  --bgPanel: #2a3c4f;
  --bgPanel2: #32455a;
  --bgPanel3: #2f3b49;
  --bgScrollbar: #77777788;
  --bgSplash: #2a3c4f;

  --bgSplashPage: linear-gradient(25deg, #142e3c, #28242e);

  --bgTabBanner: linear-gradient(150deg, #253845, #1d3486);
  --bgTag: #2a3c4f;
  --bgTreeItem: #216a6d;
  --gradientEthereal: linear-gradient(45deg, #1c1f26, #1e2a36, #1d313c);
  --highlightActiveSection: #65d68f;

  --text: #c6c1b9;
  --textBold: white;
  --textBlack: white;
  --textFancy: #a5c4e2;
  --textPale: #aaaaaa;
  --textPanel: #9caccf; // #8ca7e6; // #576874;
  --textVeryPale: #778;
  --link: #65d68f;
  --linkHover: #a8ffc8;
  --linkActive: #145240;
  --shadowMode: 0px 0px 6px 6px rgba(192, 192, 255, 0.3);
  --borderThin: 1px solid #447;
  --borderDashboard: 3px solid #616169;
  --borderSymbology: 1px solid #616169;
  --borderFaint: 1px solid #484848;
  --splitPanel: #2e343f;
  --borderColor: #00000088;
  --borderZoomButtons: 1px solid #777;
  --scaleBorder: 1px solid #728cab; // #8fabca;
  --scaleBg: #283d50;
  --opacityLogo: opacity(40%);
  --opacityAttribution: opacity(60%);
  --yellowHighlight: #edf6ae;
  --iconShowHide: #183d36;
}
