$mainFont: 'Titillium Web', 'Roboto', 'Open Sans', Avenir, Arial, Helvetica, sans-serif; // 'Titillium Web'
$fancyFont: 'Titillium Web', 'Space Grotesk', 'Roboto Slab', Roboto, Avenir, Arial, Helvetica,
  sans-serif; // 'Titillium Web',
$appTag: #65cd9e;
$matsimBlue: #4b7cc4;
$tuRed: #b40d1e;
$steelGray: #2a3c4f;
$themeColor: $matsimBlue;
$themeColorPale: #3264afcc;
$themeColorPaler: #b9c9df;
$colorBoldBackground: $steelGray;
$colorPurple: #6a1b9a;
$colorYellow: #ffdf80;
$paleBackground: #dbd9d7;
$darkBackground: #181a1b;
$navHeight: 3.25rem;
$bannerHighlight: #1d3355;
$sizeMobile: 30em;
$sizeVessel: 70rem;
$thumbnailHeight: 10rem;
$dashboardWidth: 70rem;
$filterShadow: drop-shadow(0px 2px 4px #22222233);

:root {
  --bg: #edebe4;
  --bgBold: #ffffff;
  --bgBrowser: #d3dae2;
  --bgCream: #eef2ec;
  --bgCream2: #dddcd7;
  --bgCream3: #dddce7;
  --bgCream4: #e4e3f4;
  --bgDashboard: #fff; // #dbe2e8;
  --bgDashboardHeader: #f0f0f4; // #dbe2e8;
  --bgHideButton: #ece9f5;
  --bgHover: #eaeaea;
  --bgPanel: #fff;
  --bgPanel2: #ededed;
  --bgPanel3: #e4e4e4;
  --bgMapPanel: #fff;
  --bgTag: #fdffa3;
  --bgSplash: #eaeaef;
  --bgScrollbar: #88888888;
  --bgTabBanner: linear-gradient(150deg, #345be6, #29d299);
  --bgTreeItem: #079f6f;
  --text: #363636;
  --textBold: #1d3355;
  --textFancy: #564c9d;
  --textPale: #777777;
  --textVeryPale: #bbbbcc;
  --textPanel: #616672; // #576874;
  --link: #196096;
  --linkHover: #079f6f;
  --linkActive: #bbf1ca;
  --shadowMode: 0px 0px 6px 6px rgba(0, 0, 0, 0.12);
  --borderThin: 1px solid #cce;
  --borderDashboard: 3px solid #d4dbdd;
  --borderSymbology: 1px solid #b3c0c4;
  --beige: #ffeead;
  --yellow: $colorYellow;
  --splitPanel: #d4dbdd;
  --borderColor: #66666633;
  --borderZoomButtons: 1px solid var(--borderColor);
  --scaleBorder: 1px solid #7974a0;
  --scaleBg: #ffffff;
  --sliderThumb: #29d09a;

  --opacityLogo: opacity(70%);
  --opacityAttribution: opacity(70%);
}

.dark-mode {
  --bg: #2d3133;
  --bgBold: #000414;
  --bgBrowser: #28292c; // #212029; // #18242e;
  --bgCream: #282c2f;
  --bgCream2: #33373a;
  --bgCream3: #344857;
  --bgCream4: #304453;
  --bgDashboard: #141619;
  --bgDashboardHeader: #304163;
  --bgHideButton: #32455a;
  --bgHover: #433b53;
  --bgMapPanel: #181818;
  --bgPanel: #2a3c4f;
  --bgPanel2: #32455a;
  --bgPanel3: #2f3b49;
  --bgScrollbar: #55555588;
  --bgSplash: #2a3c4f;
  --bgTabBanner: linear-gradient(150deg, #245858, #1d3486);
  --bgTag: #2a3c4f;
  --bgTreeItem: #216a6d;
  --text: #c6c1b9;
  --textBold: white;
  --textFancy: #a5c4e2;
  --textPale: #aaaaaa;
  --textPanel: #9caccf; // #8ca7e6; // #576874;
  --textVeryPale: #778;
  --link: #65d68f;
  --linkHover: #a8ffc8;
  --linkActive: #145240;
  --shadowMode: 0px 0px 6px 6px rgba(192, 192, 255, 0.3);
  --borderThin: 1px solid #447;
  --borderDashboard: 3px solid #616169;
  --borderSymbology: 1px solid #616169;
  --splitPanel: #2e343f;
  --borderColor: #00000088;
  --borderZoomButtons: 1px solid #777;
  --scaleBorder: 1px solid #728cab; // #8fabca;
  --scaleBg: #283d50;
  --opacityLogo: opacity(40%);
  --opacityAttribution: opacity(60%);
}
